body{
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .5s;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding:20px;
}

footer, header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.boutonPage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boutonPage span {
    height: 40%;
    display: flex;
    align-items: center;    
}

main .boutonPage img {
    height: 30%;
}

footer .boutonPage{
    width: 100%;
}

.boutonPage:first-child span img{
    transform: rotate(180deg);
}

footer .boutonPage span img{
    transform: rotate(90deg);
    height: 70px;
}

header .boutonPage:first-child span img{
    transform: rotate(270deg);
    height: 70px;
}

.boutonPage span:not([onclick]) {
    visibility: hidden;
}

.conteneur-basique {
    background: white;
    border-radius: 32px;
    padding:20px;
    margin:20px;
    box-shadow: 5px 5px 15px rgb(119, 153, 175);
}

.petit-gauche {
    margin-right:10%;
}

.hud {
    position:fixed;
    width:100%;
    height:100%;
    z-index: 10;
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(2,11,48,0) 80%, rgba(0,212,255,1) 100%);
}

.screen-filler {
    width:100%;
    height:100%;
    transition: opacity .5s;
    background: black;
    opacity: 1;
    visibility: visible;

}

.arrow {
    position:fixed;
    width:70px;
    height:70px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;

    text-decoration: none;
    color:black;

    transition: 0.2s;
}

.arrow:hover {
    width:75px;
    height:75px;
}

.arrow p {
    margin:0;
}

.down-arrow {
    bottom:50px;
    right:50%; 
}

.down-arrow img {
    rotate:180deg;
}

.up-arrow {
    top:50px;
    right:50%;
}

.right-arrow {
    top:50%;
    right:50px;
}

.right-arrow img {
    rotate:90deg;
}

.left-arrow {
    top:50%;
    left:50px;
}

.left-arrow img {
    rotate:-90deg;
}