body{
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
}

main{
    display: flex;
    justify-content: space-between;
    height: 550px;
    width: 100%;
}

footer, header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.boutonPage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boutonPage span {
    height: 40%;
    display: flex;
    align-items: center;    
}

main .boutonPage img {
    height: 30%;
}

footer .boutonPage{
    width: 100%;
}

.boutonPage:first-child span img{
    transform: rotate(180deg);
}

footer .boutonPage span img{
    transform: rotate(90deg);
    height: 70px;
}

header .boutonPage:first-child span img{
    transform: rotate(270deg);
    height: 70px;
}

.boutonPage span:not([onclick]) {
    visibility: hidden;
}

.conteneur-basique {
    background: white;
    border-radius: 16px;
    padding:20px;
    width: 50%;
    height: 90%;
}